.top, .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.blankPage {
    padding-left: 175px;
    flex-shrink: 0;
}

.container {
    display: flex;
    height: 720px;
    width: 720px;
    flex-wrap: wrap;
    border: 3px black groove;
    box-shadow: 5px 5px 5px;

}
.canvas {
   aspect-ratio: 1/1;
}

.colored {
    background-color: black;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.clear, .number {
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 2px 2px 5px;
}